body{
	font-family: 'Nunito Sans', sans-serif;
     padding: 30px;
}


.card {
     width: 100%;
     background-color: #2a2b38;
     background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
     background-position: bottom center;
     background-repeat: no-repeat;
     border-radius: 6px;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
     backface-visibility: hidden;
     max-width: 400px;
     padding: 30px;
     margin: auto;
     margin-top: 30px;
   }